body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    height: 100vh;
}

.form-main {
    background-color: rgba(135, 206, 250, 0.1);
    width: 100%;
}

.logo {
    background-color: rgba(0, 128, 0, 0.1);
    position: absolute;
    top: 20vh;
    height: 100px;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-family: 'Press Start 2P';
    color: whitesmoke;
    font-size: 2em;
    opacity: 1;
}

.img-foot {
    color: white;
    opacity: 0.7;
    position: absolute;
    width: 40vw;
    bottom: 10px;
    text-align: center;
    font-size: 0.5em;
}

.img-foot a {
    color: white;
}

img {
    height: 100%;
    width: 40vw;
}

div {
    padding: 0;
}

.pitch {
    height: 40vh;
}

.pitch p {
    overflow: hidden;
    font-size: 1.5em;
    padding-top: 12%;
    padding-bottom: 30px;
    padding-right: 18%;
    padding-left: 30px;
}

.form {
    background-color: rgba(0, 128, 0, 0.1) ;
    /* height: 30vh; */
    box-shadow: 4px 4px 5px rgba(0,0,0, 0.1);
}

h2 {
    color: darkolivegreen;
    padding-top: 20px;
    padding-left: 20px;
}

ul {
    list-style-type: none;
  }

input, label {
    display: block;
    width: 200px;
    border-radius: 2px;
    border: #E5E7EB;
}

label {
    color: grey;
    font-size: 0.7em;
    margin-bottom: 1px;
}

form {
    position: relative;
    display: flex;
}

#fname, #mail, #lname, #phone {
    margin-bottom: 30px;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.2)
}

#mail:invalid {
    outline: solid red;
}

#mail:placeholder-shown:invalid {
    outline: none;
}

#pw:placeholder-shown:invalid, #pw-confirm:placeholder-shown:invalid {
    outline: none;
}

#pw:invalid, #pw-confirm:invalid {
    outline: solid red;
}

#pw:not(:placeholder-shown):invalid + .error:after {
    color: red;
    font-size: 0.7em;
    content: "*Password must be at least 8 characters";
}

button {
    cursor: pointer;
    transition: 200ms ease;
    background-color: darkolivegreen;
    color: white;
    position: absolute;
    left: 40px;
    bottom: -60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.2)
}

button:hover {
    transition: 200ms ease;
    padding-top: 11px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 11px;
}

.acc a {
    color: darkolivegreen;
    text-decoration: none;
}

.acc p {
    margin-top: 80px;
    margin-left: 40px;
}
